body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #3c9b57;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0b7dda;
  }
  
  #mensaje {
    margin-top: 15px;
    font-weight: bold;
  }